body{
  section{
    &#nav-header{
      background-color: #F6F6F9;

      .logo-color{
        color: #295091;
        background-color: white;

      }
      .dollar  {
        color: #295091;
      }
      .evro{
        color: #295091;
      }
      .ruble{
        color: #295091;
      }

    }
  }
}