body{
  section{
    &#footer{
      padding-top: 15px;
      background-color: #295091;
      .dark-blue{
        background-color: #133C82;
      }
      .small-text{
        font-size: 14px;
      }
    }
  }
}